*{
    margin: 0px;
    padding: 0px;
}
.menu {
    display: flex;
    align-items: center;
    width: 1480.8px;
    height: 104px;
    background-color: #f7f7f7;
}
.logo img {
    width: 188px;
    height: 58.81px;
    padding-left: 180px;
    padding-right: 15px;
}
.logo {
    width: 240px;
    height: 58.81px;

}
.search {
    padding-left :195px;
}
.search input {
    height: 50px;
    padding-left: 15px;
    width: 370px;
    padding-right: 55px;
    border-radius: 20px;
    border-color: #f7f7f7;
}
.hotline h4 {
    padding-left: 15px;
    padding-right: 65px;
}
.header-menu ul {
    display: flex;
    list-style: none;    
    padding-left: 0px;
        
}.header-menu ul li {
    
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}
.header-menu {
    padding-left: 170px;
}
.footer {
    width: 1480.8px;
    height: 655.21px;
    background-color: #212226;
    color:#f7f7f7 ;
    padding-top: 20px;
}
.email-footer {
    margin-left: 180px;
    background-color: #bb2649;
    width: 1170px;
    height: 92px;
    display: flex;
    margin-top:20px;
    border-radius: 4px;
}
.email-footer .letter {
    padding: 32px 0px 32px 35px;
    font-size: 20px;
    width:235px
}
.non{
    width: 629px;
    height: 47px;
    border-radius: 10px;
}
.input-email {
    padding: 20px 0px 25px  180px;
}
.input-footer {
    display: flex;
    width:50px
}
.gui button {
    width: 53px;
    height: 50px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #bb2649;
    color: #ffffff ;
    font-size: 14px;
    border-color: white;
}
.bottom-footer{
    margin-left: 180px;
    padding-top: 30px;
    display: flex;
    width: 1570px;
}
.logo-footer img{
    width: 188px;
    height: 58.81px;
}
.colum1{
    width: 292.5px;
    height: 412.71px;
    padding-right: 30px ;

}
.thongtin ul li {
    padding-top: 10px;
}
.about-us {
    padding-bottom: 16px;
}
.about-us2 ul li {
    padding-bottom: 10px;
}
.header-menu {
    width: 1480.8px;
    height: 56px;
    align-items: center;
}
.banner img{
    width: 1481px;
    height: 536.09px;
}
.swiper-slide{
    width: 390px;
    height: 145.8px;
    display: flex;
    align-items: center;
    background-color: #bb2649;
    color: #f7f7f7;
    justify-content: center;
    
}

.logo-slide img{
    width: 50px;
    height: 50px;
}
.info-slide p{
    font-size: 14px;
}
.slide{
    display: flex;
    position: absolute;
    margin-top: -72.9px;
    margin-left: 155.5px;
}
.top-product{
    padding-top: 150px;
}
.title {
    width: 1170px;
    height: 59.2px;
    
    font-size: 38px;
    justify-content: space-between;
    display: flex;
    color: #bb2649;
}
.container-prd{
    margin-left: 180px;
    width: 1070px;
}
.product1 {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    border: 1px solid #D2E6D3;
    width: 196px;
    height:273.6px;
    margin: 5`````px;

}
.content-prd{
    display:grid ;
    grid: auto / auto auto auto auto auto;
    width: 1170px;
    height: 631.2px;
    margin-top: 20px;
}
.dealhot{
    background: #bb2649;
    width: 1480.08px;
    height: 702.6px;
}
.container-deal{
    margin-right: 180px;
    margin-left: 180px;
}
.section-product{
    width: 1480.8px;
    height: 1279.79px;
    margin-top: 50px;
}
.container-section{
    width: 1200px;
    height: 1179.79px;
    margin-left: 180px;
    /* display: flex; */
}
.block-left {
    width: 270px;
    height: 1179.790px;
    box-sizing: border-box;
    margin-right: 10px;
}
.asidetop {
    background: #FFFFFF;
    margin-bottom: 30px;
}
.tittle {
    color: #fff;
    background-color: #bb2649;
    border-radius: 5px 5px 0px 0px;
    padding: 10px;
    font-size: 16px;
    height: 24.875px;
}
.category {
    border-radius: 0px 0px 5px 5px;
    border: 1px solid #f1f1f1;
    border-top: initial;
    padding: 0 10px 0;

}
.cate {
    display: block;
    padding: 10px 0 10px;
    font-size: 14px;
    color: #231f20;
    text-decoration: none;
    background-color: transparent;
}
.category ul li {
    
    list-style: none;
    box-sizing: border-box;
    position: relative;
   
}
.container-right{
    box-sizing: border-box;
    width: 870px;
    height: 1179.790px;
    margin-left: 10px;

}
.row {
    display: flex;
}
.menu-prd {
    display: flex;
}
.menu-prd li {
    list-style: none;
}
.menu-prd li a {
    text-decoration: none;
    


}
.tab1 {
    width: 121.663px;
    height: 21px;
    background-color: #E36756;
    margin: 0 10px 10px 0;
    font-size: 14px;
    padding: 8px 15px;
    display: block;
    border-radius: 5px;
    align-items: center;
   
}
.atab {
    color: white;
    
}
.tab2 {
    width:112.667px;
    height: 21px;
    font-size: 14px;
    padding: 8px 15px;
    display: block;
    background: #E36756;
    border-radius: 5px;
    background: rgba(255,167,155,0.17);
    color: #E36756;
    margin-right: 10px;
}
.atab2{
    color: #E36756;
}
.tab3 {
    width:196.087px;
    height: 21px;
    font-size: 14px;
    padding: 8px 15px;
    display: block;
    background: #E36756;
    border-radius: 5px;
    background: rgba(255,167,155,0.17);
    color: #E36756;
    margin-right: 10px;
}
.tab4 {
    width: 144.6px;
    height: 21px;
    font-size: 14px;
    padding: 8px 15px;
    display: block;
    background: #E36756;
    border-radius: 5px;
    background: rgba(255,167,155,0.17);
    color: #E36756;
    margin-right: 10px;
}
.content-project{
    width: 870px;
    height: 1122.790px;
    display: grid;
    grid: auto / auto auto auto

}
.product2 {
    width: 255.0663px;
    height: 332.263px;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    border: 1px solid #D2E6D3;
}
.text-prd1 {
    width: 255.062px;
    height: 19.600px;
    margin-bottom: 8px;
}
.price1 {
    width: 255.062px;
    height: 40px;
}
.product-tab{
    width: 1480.8px;
    height: 725.2px;
    background: #bc928c;
    padding: 40px 0 30px;
    background-image: url(//bizweb.dktcdn.net/100/307/286/themes/882126/assets/bg-image-product-selling2.png?1676619644682);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom -5px center;
}
.container-prd-tab{
    width: 1170px;
    height: 725.2px;
    margin-left: 180px;

}
.tittle-tab {
    font-weight: 500;
    font-size: 38px;
    display: flex;
    justify-content:space-between;
}
.tittle-tab a {
    text-decoration: none;
    color: #f7f7f7;
}
.viewmore {
    width:94.625px ;
    height: 24px;
    font-size: 14px;
}
.socola {
    margin-left: -660px;
}
.bl-content-tab{
    width: 1190px;
    height: 631.2px;
    display: grid;
    grid: auto / auto auto auto auto auto;
    margin-top: 40px;
}
.banner-bottom{
    margin: 50px 0 50px 180px;
}
.header-footer{
    width: 1170px;
    height: 928.950px;
    display: flex;
}
.tittle1 {
    display: flex;
    justify-content: space-between;
}
.left {
    margin-left: 180px;
    width: 555px;
    height: 905.487px;
}

.corner a{
    color: #3b3b3b;
    font-size: 38px;
    text-decoration: none;
}
.more a {
    color: #3b3b3b;     
    text-decoration: none;
}
.thumb img {
    width: 240px;
    height: 240px;
}
.item-block{
    display: flex;
    width: 500px;
}
.infor5 {
    padding-bottom: 10px;
    margin-left: 10px;
}
.content-bot {
    margin-top: 30px;
}
.block-infor{
    width: 300px;
}
.right {
    margin-left: 150px;
}
.slick-dots{
    display: flex !important;
    justify-content: space-evenly;
}
.slick-dots li {
    list-style: none;
    margin-top: 40px;

}
.slick-dots li  button {
    width: 30px;
    height: 30px;
    border-radius: 40px;

}
.deal-product .product1{
    margin-right: 10px;
}
.slick-track{
    margin-top: 40px;
}
a {
    text-decoration: none;
    color: black;
}
.about-us2 ul li a {
    color: white;
}
.thongtin ul li a {
    color: white;
}
.thongtin ul li {
    list-style: none;
}   